In [1]:
import pyarrow.parquet
import pyiceberg
from pyiceberg.catalog import Catalog, load_catalog
import pyarrow
import pyiceberg.exceptions
from pyiceberg.table import Table

catalog: Catalog = load_catalog(
    "default",
    **{
        "uri": "http://87.242.86.99:8181",
        "s3.endpoint": "http://87.242.86.99:9000",
        "s3.access-key-id": "descenty",
        "s3.secret-access-key": "09102003sK",
    }
)

In [2]:
df: pyarrow.Table = pyarrow.parquet.read_table("groups/groups.parquet")
try:
    groups_table: Table = catalog.load_table("default.groups")
except pyiceberg.exceptions.NoSuchTableError:
    groups_table: Table = catalog.create_table("default.groups", df.schema)

groups_table.overwrite(df)

In [4]:
catalog.list_tables("default")

[('default', 'example_table'), ('default', 'groups')]

In [5]:
catalog.load_table("default.groups").scan().to_pandas()

          Название                                      Специальность
0       ИАБО-01-04  Информационные технологии и разработка програм...
1       ИАБО-02-04       Сетевые технологии и администрирование сетей
2       ИАБО-03-04        Программирование и разработка на языке Java
3       ИАБО-04-04              Аналитика данных в бизнесе и финансах
4       ИАБО-05-04       Сетевые технологии и администрирование сетей
...            ...                                                ...
99995   ИАБО-96-24        Программирование и разработка на языке Java
99996   ИАБО-97-24              Аналитика данных в бизнесе и финансах
99997   ИАБО-98-24              Разработка мобильных приложений и IoT
99998   ИАБО-99-24              Разработка мобильных приложений и IoT
99999  ИАБО-100-24              Аналитика данных в бизнесе и финансах

[100000 rows x 2 columns]