In [77]:
from trino.dbapi import Connection, connect

conn: Connection = connect(
    host="87.242.86.99",
    port="8081",
    user="admin",
    catalog="rest_backend",
    schema="default",
)
cur = conn.cursor()
cur.execute("SELECT * FROM system.runtime.nodes")
rows = cur.fetchall()
rows

[['0785fae03b1f', 'http://192.168.112.8:8080', '447', True, 'active']]

In [79]:
# list catalogs
rows = cur.execute("SHOW CATALOGS")
rows.fetchall()

[['iceberg'], ['jmx'], ['memory'], ['system'], ['tpcds'], ['tpch']]

In [80]:
cur.execute("CREATE SCHEMA IF NOT EXISTS iceberg.default WITH (location = 's3://warehouse/')")

In [22]:
cur.execute(
    """CREATE TABLE example_table (c1 INTEGER, c2 DATE, c3 DOUBLE) WITH (format = 'PARQUET', partitioning = ARRAY['c1', 'c2'], sorted_by = ARRAY['c3'], location = 's3://warehouse/default/example_table/')"""
)

In [24]:
cur.execute("SHOW TABLES")
rows = cur.fetchall()
rows

[['example_table'], ['groups']]

In [26]:
cur.execute("DESCRIBE iceberg.default.example_table")
cur.fetchall()

[['c1', 'integer', '', ''], ['c2', 'date', '', ''], ['c3', 'double', '', '']]

In [27]:
cur.execute("INSERT INTO iceberg.default.example_table VALUES (1, DATE '2021-01-01', 1.0)")

In [31]:
cur.execute("SELECT * FROM iceberg.default.example_table")
rows = cur.fetchall()
rows

[[1, datetime.date(2021, 1, 1), 1.0]]

In [58]:
cur.execute("SHOW COLUMNS FROM iceberg.default.groups")
cur.fetchall()

[['название', 'varchar', '', ''], ['специальность', 'varchar', '', '']]

In [86]:
# select from iceberg.default.groups
cur.execute("SELECT * FROM iceberg.nyc.taxis LIMIT 10")
cur.fetchall()
rows